.ennuisaur {
    width: 35vw;
    position: absolute;
    left: 45vw;
    z-index: 1;
}

.ennuisaur-logo {
    width: 30vw;
    position: relative;
    display: inline-block;
    left: 2.5vw;
}

.light-switch {
    width: 3vw;
    position: absolute;
    top: 0vw;
}

.light-switch:hover,
.light-switch:focus {
    filter: brightness(0) saturate(100%) invert(93%) sepia(19%) saturate(981%) hue-rotate(346deg) brightness(107%) contrast(92%);
    cursor: pointer;
}

.snozz-head-wrapper {
    /* left: 100%; */
    left: 41vw;
    width: 4.5vw;
    top: -2vw;
    height: 15vw;
    position: relative;
}

.snozz-head-div {
    cursor: pointer;
    position: relative;
}

.snozz-head-sibling {
    width: 3.5vw;
    height: 8vw;
    top: 6vw;
    z-index: 5;
    position: relative;
    cursor: pointer;
}

.snozz-head {
    z-index: 2 !important;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4.5vw;
    cursor: pointer !important;
    transition: all 1s;
}

.snozz-head-sibling:hover,
.snozz-head-sibling:focus {
    height: 14vw;
}

.snozz-head-sibling:hover + .snozz-head,
.snozz-head-sibling:focus + .snozz-head {
    filter: drop-shadow( 0 0 5px rgb(255, 242, 128)) drop-shadow( 0 0 10px rgb(255, 242, 128)) drop-shadow( 0 0 15px rgb(255, 242, 128));
    cursor: pointer;
    transform: translateY(5vw);
}

.leaves-div {
    float: right;
}

.leaves-background {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35vw;
}

.leaves-foreground {
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35vw;
}

.question-mark {
    position: absolute;
    top: 15vw;
    right: 5vw;
    z-index: 10;
    animation: fade-in-out-alternating 1s ease-in-out infinite alternate;
    font-size: 2vw;
}

.question-mark-hidden {
    visibility: hidden;
}

@keyframes fade-in-out-alternating {
    from {
        opacity: 0;
        filter: blur(0);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        filter: blur(0);
    }

    to {
        opacity: 0;
        filter: blur(0);
    }
} 

.leaves-banner {
    position: absolute;
    width: 75%;
    margin-left: 15vw;
    top: 15vw;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.actual-body {
    border: 2px solid rgb(54, 2, 22);
    position: absolute;
    top: 0; 
    left: 0;
}

.main-page-body {
    width: 100%;
    /* display: flex; */
}

.buttons-container {
    width: 75%; 
    margin: auto;
    /* box-shadow: 0px 0px 55px 0px rgb(216, 75, 245);
    clip-path: inset(0px -25px 0px -25px); */
}

.art-button-div {
    position: relative;
    /* display: inline-block; */
    /* border: 1px solid peru; */
    /* margin-left: 10vw; */
}

.art-button {
    width: 25vw;
}

.art-label {
    font-size: 5vw;
    color: black;
    font-family: "VT323";
    position: absolute;
    top: 27%;
    left: 37%;
    cursor: pointer;
}

.reptiles-button-div {
    position: relative;
    /* display: inline-block; */
    /* border: 1px solid peru; */
    margin-left: 3vw;
    margin-top: 5vw;
}

.reptiles-button {
    width: 25vw;
    transform: scale(-1, -1);
}

.reptiles-label {
    font-size: 3.7vw;
    color: black;
    font-family: "VT323";
    position: absolute;
    top: 38%;
    left: 29%;
    cursor: pointer;
}

.edits-button-div {
    position: relative;
    /* display: inline-block; */
    /* border: 1px solid peru; */
    /* margin-left: 6vw; */
    margin-top: 4vw;
    margin-left: 5vw;
}

.edits-button {
    width: 15vw;
    transform: scale(1, -1);
}

.edits-label {
    font-size: 3vw;
    color: black;
    font-family: "VT323";
    position: absolute;
    top: 20%;
    left: 29%;
    cursor: pointer;
}

.poetry-button-div {
    position: relative;
    /* display: inline-block; */
    /* border: 1px solid peru; */
    margin-left: 20vw;
    margin-top: 4vw;
}

.poetry-button {
    width: 25vw;
    transform: scale(-1, 1);
}

.poetry-label {
    font-size: 4.5vw;
    color: black;
    font-family: "VT323";
    position: absolute;
    top: 24%;
    left: 30%;
    cursor: pointer;
}

.art-generator-placeholder {
    width: 20vw;
    margin-left: 4vw; 
}

.about-container {
    width: 100%;
    height: 2.5vw;
    overflow: hidden;
    transition: 3s height ease-in-out;
    text-align: center;
    position: relative;
}

#about-line {
    width: 100%; 
    margin: auto;
    transition: 3s height ease-in-out;
    position: absolute;
    overflow: hidden;
    text-align: center;
    height: 2vw;
    z-index: 9;
} 

#about-line.start {
    height: 95vw;
    filter: drop-shadow( 0 0 5px rgb(255, 242, 128)) drop-shadow( 0 0 5px rgba(255, 242, 128, 0.459)) drop-shadow( 0 0 5px rgba(255, 242, 128, 0.438));
}

.about-container-line {
    border-bottom: 3px ridge yellow;
    animation: line 1s linear forwards;
    filter: drop-shadow( 0 0 2px rgb(255, 242, 128)) drop-shadow( 0 0 2px rgba(255, 242, 128, 0.459)) drop-shadow( 0 0 2px rgba(255, 242, 128, 0.438));
}

.about-container.start {
    height: 95.5vw;
}

@keyframes line {
    from {
      left:50%;
      width:0%;
    }
    to {
      left:5%;
      width:90%;
    }
}

.about-container-line-reverse {
    border-bottom: 3px ridge yellow;
    animation: reverse-line 1s linear forwards;
    filter: drop-shadow( 0 0 5px rgb(255, 242, 128)) drop-shadow( 0 0 5px rgba(255, 242, 128, 0.459)) drop-shadow( 0 0 5px rgba(255, 242, 128, 0.438));
}

@keyframes reverse-line {
    from {
      left:5%;
      width:90%;
    }
    to {
        left:50%;
        width:0%;
    }
}

.about-container-background {
    height: 75vw;
    margin-top: 10vw;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
}

.about-background-gears {
    height: 92vw;
    position: absolute;
    top: 1vw;
    left:0;
    right:0;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    z-index: -10;

}

/* RESPONSIVE FOR SMALL SCREENS */
@media (max-width: 1000px) {
    .header-div {
        height: 95vw;
    }

    .ennuisaur {
        width: 100%;
        position: absolute;
        left: 0;
        top: 25vw;
    }

    .leaves-foreground {
        width: 70%;
    }

    .leaves-background {
        width: 70%;
    }

    .ennuisaur-logo {
        position: absolute;
        width: 45vw;
        z-index: 15;
    }

    .svg-glow {
        z-index: 15;
    }

    .snozz-head-sibling {
        width: 10vw;
        height: 15vw;
        top: 35vw;
    }

    .snozz-head-wrapper {
        left: 70%;
        width: 25vw;
        top: -20vw;
        position: absolute;
    }

    .snozz-head {
        width: 15vw;
    }

    .snozz-head-sibling:hover,
    .snozz-head-sibling:focus {
        height: 30vw;
    }

    .snozz-head-sibling:hover + .snozz-head,
    .snozz-head-sibling:focus + .snozz-head {
        transform: translateY(15vw);
    }

    .question-mark {
        position: absolute;
        top: 35vw;
        right: 0vw;
        z-index: 10;
        animation: fade-in-out-alternating 1s ease-in-out infinite alternate;
        font-size: 5vw;
    }

    .about-container.start {
        height: 135vw;
    }

    #about-line.start {
        height: 134.5vw;
    }

    .about-container-background {
        width: 75%; 
        height: auto;
    }

    .about-background-gears {
        width: 100%;
        height: auto;
    }

    .light-switch {
        position: absolute; 
        top: 10vw;
        right: 0;
        width: 10vw;
        z-index: 2;
    }

    .buttons-container {
        width: 100%;
    }

    .art-button-div{
        display: inline;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vw;

    }

    .art-button {
        width: 100%;

    }

    .art-label {
        font-size: 15vw;
        text-align: center;
        top: 32%;
    }

    .reptiles-button-div{
        display: inline;
        width: 60%;
        margin-left: 0;
        margin-right: auto;

    }

    .reptiles-button {
        width: 100%;

    }

    .reptiles-label {
        font-size: 9vw;
        text-align: center;
        top: 37%;
        left: 28%;
    }

    .edits-button-div{
        display: inline;
        width: 30%;
        margin-left: auto;
        margin-right: 0;

    }

    .edits-button {
        width: 100%;
    }

    .edits-label {
        font-size: 6vw;
        text-align: center;
        top: 17%;
        left: 30%;
    }

    .poetry-art-generator-row {
        display: flex;
    }

    .poetry-button-div{
        width: 70%;
        margin-left: auto;
        margin-right: 5vw;
        order: 1;
    }

    .poetry-button {
        width: 100%;
    }

    .poetry-label {
        font-size: 13vw;
        text-align: center;
        top: 35%;
        left: 28%;
    }

    .art-generator-div {
        order: 2;
        width: 70%;
        margin-left: 0;
        margin-right: auto;
    }

    .art-generator-placeholder {
        width: 45vw;
    }
}